/*style #southern*/
#southern {
    position: relative; transform: scaleY(1.02);display: block;
}
#southern::after {
    content: "SOUTHERN VIETNAM";
    position: absolute;
    bottom: 17px;
    left: 83px;
    color: black;
    padding: 4px;
    border-bottom: 1px solid black;
    padding-left:120px; font-weight: 500;
}

#southern::before {
    content: '';
    position: absolute;
    left: 30px; bottom: -40px; width: 300px;height: 100px;padding-top: 10px;padding-right: 40px;
}

#southern:hover::after, #southern:hover::before {
    color: tomato;
    border-bottom-color: tomato;
}

  /*style #northern*/
#northern {
    position: relative; transform: scaleY(1.02);display: block;
}
#northern::after {
    content: "NORTHERN VIETNAM";
    position: absolute;
    bottom: 300px;
    left: 110px;
    color: black;
    padding: 4px;
    border-bottom: 1px solid black; padding-left:90px;font-weight: 500;
}

#northern::before {
    content: '';
    position: absolute;
    left: 0px; bottom: 290px; width: 300px;height: 120px;padding-top: 10px;padding-right: 40px;
}

#northern:hover::after, #northern:hover::before {
    color: tomato;
    border-bottom-color: tomato;
  }

  /*style #central*/
#central {
    position: relative; transform: scaleY(1.02);display: block;
}
#central::after {
    content: "CENTRAL VIETNAM";
    position: absolute;
    bottom: 150px;
    left: 155px;
    color: black;
    padding: 4px;
    border-bottom: 1px solid black; padding-left:50px;font-weight: 500;
}

#central::before {
    content: '';
    position: absolute;
    left: 40px; bottom: 90px; width: 300px;height: 180px;padding-top: 10px;
}

#central:hover::after, #central:hover::before {
    color: tomato;
    border-bottom-color: tomato;
}
