.essential-section {
    margin-block: 32px;
}

.essential-section-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 16px;
}

.essential-section-title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.essential-section-title-container a {
    display: block;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    justify-self: end;
}

.essential-section .essential-items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    gap: 32px 16px;
}

.essential-items-list .cuisines-list, .essential-items-list .attraction-subcategory {
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-size: 14px;
}

/*style .small-card*/
.small-card {
    /*set width, height to 100% to ensure the .small-card expand full width, full height of its parent, which is the <Link/>, and not shrink in height, width when viewport shrinks*/
    width: 100%;height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 8px;
 }
 .small-card:hover {
    cursor: pointer;
 }
 .small-card .image-container {
    width: 100%;border-radius: 8px; overflow: hidden;
 }
 
 .image-container img {
     display: block;
     width: 100%;
     object-fit: cover;
     aspect-ratio: 3/2;
 }
 
 .card-contents .card-title{
     font-size: 18px;
     font-weight: 500;
     color: #000;
     display: -webkit-box;
     display: -moz-box; /* Fallback for Firefox */
     display: box; /* Standard property */
     line-clamp: 3; /* Limit to 3 lines */
     -webkit-box-orient: vertical;
     overflow: hidden;
 }
 
 .card-rating-count svg {
     margin-right: 8px;
     fill: #00aa6c;
     display: inline-block;
 }
 .card-rating-count span {
     font-size: 12px;
     color: #333;display: inline-block;
 }
 
 .card-rating-count {
     display: flex;
     align-items: center;
 }
 
 .card-contents {
     display: flex;
     flex-direction: column;
     gap: 8px;
 }
 
 /*style the overlay effect when hover the .small-card*/
 .small-card::after {
     content: '';
     position: absolute;inset: 0;
     background-color: rgba(255, 255, 255, 0); /* Initially transparent */
     transition: background-color 0.3s ease;
     border-radius: 8px; /* Ensure the overlay has the same border radius */
 }
 
 .small-card:hover::after {
     background-color: rgba(255, 255, 255, 0.1); /* Light white overlay on hover */
 }
 