.navbar {
    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-inline: 10%;
    padding-top: 10px;
    /* padding-bottom: 1px; */
    width: 100%;
    background: #fff;
}
.navbar-container {
    /* background: tomato; */
    /* padding-inline: 10%; */
    /* padding-top: 10px;
    padding-bottom: 5px; */
    position: sticky;
    top: 0;
    z-index: 1000;
}
.row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*style the hr*/
/*the default hr is width: 80%; margin: auto;*/
.navbar-container hr {
    width: 80%;
    margin: auto;
    height: .5px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-container hr.full-width {
    width: 100%; margin: none;
}

.navbar-container hr.no-hr {
    display: none;
}

/****************************/
.navbar .row-1 .logo {
    display: block;
    width: 150px;
    cursor: pointer;
}

.navbar .row-1 ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar .row-1 ul li {
    min-width: fit-content;
    padding: 7px 15px;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.navbar .row-1 ul li:hover {
    background: rgba(0, 0, 0, .1);
}

.navbar .row-1 button {
    min-width: fit-content;
    background: transparent;
    border: 1px solid tomato;
    outline: none;
    cursor: pointer;
    color: #49557e;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all .3s ease 0s;
}

.navbar .row-1 button:hover {
    background: #fff4f2;
}

/*style .navbar .row-1.new-navbar*/
.row-1.new-navbar ul {
    gap: 1rem;
}

.row-1.new-navbar .search-bar-container {
    width: 47%;
    padding: 5px 10px;
    margin-top: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.row-2 .active {
    border-bottom: 2px solid tomato;
}
/*style .navbar .row-2*/
.navbar .row-2 {
    width: 70%;
    height: 30px;
    margin-left: 10px;
}
.navbar .row-2 ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.navbar .row-2 ul li {
    min-width: fit-content;
    padding-bottom: 9px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.navbar .row-2 ul li:hover {
    border-bottom: 2px solid tomato;
}