.restaurants-section {
    width: 100%;
    margin-top: .1px;
}

.restaurants {
    padding-inline: 10%;
    margin-top: 3vw;
}

.restaurants-service-container {
    margin-block: 40px;
}

/*style .restaurants-in-top-cities-container*/
.restaurants-in-top-cities-container .restaurants-in-top-cities-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurants-in-top-cities-container .restaurants-in-top-cities-header .title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.restaurants-in-top-cities-container .restaurants-in-top-cities-header a {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.restaurants-in-top-cities-list {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    margin-bottom: 45px;
}

.restaurants-in-top-cities-list a {
    display: block;
    flex: 0 24%;
}