.manage-tour-bookings-section {
    /* margin-block: 55px; */
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    padding: 55px 20px;
    background-color: #f4f7fa;
    height: 100%;
}

.dashboard-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* place-items: center; */
}

.chart-container .chart-item {
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-item canvas {
    /* width: 100% !important; */
}