.header {
    width: 90%;
    height: 30vw;
    background: url("/home_header.png") no-repeat;
    background-size: cover;
    background-position-y: 10%;
    border-radius: 20px;
    margin: 70px auto;
    position: relative;background-color: aqua;
}

.header-contents {
    max-width: 60%;
    position: absolute;
    bottom: 20%;
    left: 3%;
}

.header-contents p {
    margin-top: 10px;
}