.things-to-do-in-a-city-section {
    margin-top: 3vw;
}

.things-to-do-in-a-city {
    padding-inline: 10%;
}

.things-to-do-in-a-city hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin-block: 48px;
}

/*style .top-attractions-section*/
.top-attractions-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 16px;
}

.top-attractions-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    gap: 32px 16px;
}

.top-attractions-title-container ~ .attractions-link {
    justify-self: center;
    padding: 18px 24px;
    border-radius: 28px;
    color: #fff;
    background-color: #000;
}

.top-attractions-title-container ~ .attractions-link:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.top-attractions-title-container {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;grid-template-columns: 1fr 1fr;align-items: center;
    margin-bottom: 8px;
}

.top-attractions-title-container .top-attractions-title {
    font-size: 28px;
    font-weight: 600;
    overflow-wrap: break-word;
}

.attractions-link {
    display: inline;justify-self: end;align-self: center;
    min-width: max-content; /*for display: grid in .top-attractions-title-container*/
    /*for display: flex in .top-attractions-title-container*/
    /* min-width: fit-content; */
    border: 1px solid #000;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 1rem;
    font-weight: 500;
}

.attractions-link:hover {
    color: #fff;
    background-color: #000;
}

/*style .tour-display-section*/
.tour-display-section {
    list-style: none;
}

.tour-display-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 16px;
}

.tour-display-title {
    font-size: 28px;
    font-weight: 800;
    color: #000;
}

.tour-display-title-container a {
    display: block;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    justify-self: end;
}

.tour-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px 16px;
    
    /* display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(300px, 1fr);
    gap: 32px 16px;
    overflow-x: hidden; */
}

.tour-display-section li:last-child hr {
    display: none;
}

/* .tour-display-list-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.right-arrow, .left-arrow {
    padding: 8px;
    border: 1.5px solid #000;
    border-radius: 20px;
    background: #fff;
    color: #000;
    display: flex;
    place-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    right: 0;z-index: 2;
}
.left-arrow {left: 0;right: auto;}
.right-arrow:hover, .left-arrow:hover {
    background: #000;
    color: #fff;
}

.right-arrow svg, .left-arrow svg {
    fill: currentColor;
} */

/*style .user-review-section*/
.user-review-container {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: 16px;
    padding-bottom: 64px;
}

.user-review-container .title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

/*style .user-review-card*/
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.user-info-details-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-info-details-container .user-info-image-container {
    width: 48px;
    height: 48px;
    padding: 4px;
    background-color: tomato;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.user-info-details-container .user-info-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 2px;
    background: blue; */
}

.user-info-details .user-info-name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 2px;
}

.user-info-details .user-info-country {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.user-info .icon-container {
    display: inline-flex;
    align-items: baseline;
}

.user-info .icon-container button {
    border: none;
    border-radius: 16px;
    outline: none;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    color: #000;
    transition: all .2s;
}

.user-info .icon-container button.like-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.user-info .icon-container button svg {
    fill: currentColor;
}

.user-info .icon-container button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.user-info .icon-container .report-review-container {
    position: relative;
}

.user-info .icon-container .report-review-container .report-review-modal {
    text-align: center;
    background: #fff;
    padding: 10px;
    position: absolute;
    right: -20px;
    min-width: 190px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 2px 54px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 8px;
    display: none;
}

.user-info .icon-container .report-review-container .report-review-modal.active {
    display: block;
}

.user-info .icon-container .report-review-container .report-review-modal > div {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
}

.user-info .icon-container .report-review-container .report-review-modal > div:hover {
    background: rgba(0, 0, 0, 0.1);
}

.user-info .icon-container .report-review-container .report-review-modal .top-arrow {
    position: absolute;
    top: -8px;
    right: 24px;
    border: solid #fff;
    border-width: 0 10px 10px 0;
    padding: 5px;
    transform: rotate(-135deg);
}

.user-review-card .user-review-title {
    margin-block: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.user-review-card .user-review-description {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.user-review-card .review-of {
    margin-block: 16px;
}

.user-review-card .review-of a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.user-review-card .review-written-date {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.slick-slide > div {
    margin-right: 8px;
}

.slick-prev::before,.slick-next::before{
    display:none; 
}

.user-review-list .slick-arrow.slick-prev.left-arrow {
    left: -50px;
}

.user-review-list .slick-arrow.slick-next.right-arrow {
    right: -35px;
}
