.city {
    margin-top: 4vw;
    width: 100%; padding-inline: 10%;
}

.city-header {
    width: 100%;
}

.city-header img {
    width: 100%;
    aspect-ratio: 16/6.5;
    object-fit: cover; border-radius: 20px;
}

.description-container {
    margin: 32px 0;
    max-width: 50%;
}

.description-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}

/*style .city-cuisine-section*/
.city-cuisine-section h2.city-cuisine-section-title {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}
.city-cuisine-section {margin-bottom: 50px;}
.city-cuisine-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.city-cuisine-list .cuisine-card {
    width: 100%;
}

.cuisine-card img {
    /* display: block; */
    width: 100%;
    aspect-ratio: 2/1.5;
}

.cuisine-card .dish-details h2 {
    font-size: 1.5rem;
    font-weight: 400;margin-bottom: 12px;
}

.cuisine-card:hover {
    cursor: pointer;
}

.cuisine-card {
    position: relative;
}

.cuisine-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255,255,255,0);
    transition: background-color .3s ease;
}

.cuisine-card:hover::after {
    background-color: rgba(255,255,255,.1);
}
.cuisine-card .dish-details {
    max-width: 95%;
}

/*style .travel-advice-section*/
.travel-advice-section h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 32px 0;
}

.travel-advice-section .travel-advice-title {
    font-size: 24px;
    font-weight: 500;
    margin: 32px 0 16px;
}

.travel-advice-subtitle {
    text-transform: capitalize;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 500;
}

.travel-advice-description {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}