.city {
    margin-top: 4vw;
    width: 100%; padding-inline: 10%;
}

.city-header {
    width: 100%;
}

.city-header img {
    width: 100%;
    aspect-ratio: 16/6.5;
    object-fit: cover; border-radius: 20px;
}