.things-to-do-section {
    width: 100%;
    margin-top: .1px;
}

.things-to-do {
    padding-inline: 10%;
    margin-top: 3vw;
}

/*style .top-destinations-section*/
.top-destinations-section {
    margin-block: 48px;
}

.top-destinations-section .top-destinations-container .title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 24px;
}

/*style .recommendation-info-section*/
.recommendation-info-section {
    margin-block: 48px;
}

.recommendation-info-section .title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
}

.recommendation-info-section .description {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}