.cities {
    margin-top: 4vw;
    width: 100%; padding-inline: 10%;
}

/* .cities-description {
    margin: 50px 0;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cities-description h2 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}

.cities-description p {
    font-weight: 380; -webkit-line-clamp: 3;overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;
}

.cities-description p.expanded {
    -webkit-line-clamp: unset;
    display: block;
}

.expand-button {
    display: flex;
    align-items: center;
    gap: 7px;
}

.expand-button p {
    font-weight: 450;
    border-bottom: 1px solid black;
}
.expand-button i {
    font-size: 12px;
}
.expand-button {
    cursor: pointer;
}

.expand-button:hover {
    color: rgba(0,0,0,.7);
}

.expand-button p:hover {
    border-bottom-color: rgba(0,0,0,.7);
} */

/*style .cities-list*/
.cities-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    /* grid-template-rows: minmax(200px, 1fr); */
    gap: 2rem;margin-bottom: 20px;
}

/*style .essentials-in-a-country*/
.essentials-in-a-country {
    margin-block: 64px;
}

.essentials-in-a-country .title {
    font-size: 28px;
    font-weight: 800;
    color: #000;
    margin-bottom: 24px;
}

/*style .essentials-list-container*/
.essentials-list-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.essentials-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "essentials-description essentials-items";
    align-items: start;
    gap: 32px 16px;
}

.essentials-description-container {
    grid-area: essentials-description;
    grid-column: 1/4;
}

.essentials-items-list {
    grid-area: essentials-items;
    grid-column: 4/13;
    /* display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}
/* .essentials-items-list a {flex: 0 0 32%;} */
.essentials-description-container .essentials-description-title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 16px;
    margin-bottom: 16px;
}
/* .essentials-description-container {align-self: start; max-width: 80%;} */
.essentials-description-container .essentials-description-title h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.essentials-description-container .essentials-description {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
